* {
  font-family: 'Neucha', cursive !important;
}

body, html {
  height: 100%;
  width: 100%;
  background: #F8F8FA;
}

.app {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__left {
  width: 70%;
  height: 100%;
  padding-left: 64px;
}

.app__right {
  width: 30%;
  height: 100%;
  background: #6DCBA9;
  position: relative;
}

.app__right-img {
  position: absolute;
  left: -377px;
  top: -100px;
}

.app__right-name {
  position: absolute;
  left: -128px;
  top: 0px;
  width: 256px;
  height: 128px;
  color: #FFFFFF;
  font-size: 40px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}

.app__right-name:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.app__right-buy {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 237px;
  height: 68px;
  color: #FFFFFF;
  font-size: 36px;
  left: 256px;
  bottom: -17px;
  position: absolute;
}

.app__right-buy:active {
  color: #000000;
}

.app__right-buy:hover {
  color: #ffffff;
  text-decoration: none;
}

.app__right-buy img {
  margin-left: 16px;
}

.app__nav {
  margin: 64px 0 0  0;
}

.app__title {
  font-size: 64px;
  line-height: 70px;
}

.app__desc {
  margin-top: 48px;
  font-size: 24px;
  line-height: 26px;
}

.basket {
  position: relative;
}

.basket-circle {
  position: absolute;
  bottom: 0px;
  right: 7px;
  background: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.nav-link {
  font-size: 36px;
  color: #000000;
  position: relative;
}

.nav-link:hover {
  color: #000000;
}

.nav-link:hover::after {
  content: url("../img/_.svg");
  position: absolute;
  bottom: -9px;
  left: 40%;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: url("../img/_.svg");
  position: absolute;
  bottom: -9px;
  left: 40%;
}

.card {
  border-radius: 8px;
}

.card-title {
  margin-bottom: 0;
}

.card-body {
  padding: 12px;
  position: relative;
}

.section {
  margin-top: 43px;
  position: relative;
}

.section__title {
  font-size: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__cards {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding-right: 64px;
  width: 100%;
}

.section__cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.section__cards .card {
  cursor: pointer;
  color: #000000;
}

.section__cards .card:first-child {
  margin-left: 16px;
}

.section__next {
  height: 64px;
  width: 64px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: flex-end;
  position: absolute;
  top: 50%;
  right: 8px;
  z-index: 3;
  cursor: pointer;
}

.section__add {
  max-width: 32px;
  max-height: 32px;
  position: relative;
  top: 4px;
  margin-left: 16px;
}

.section__add img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */